
assets/css/fontawesome-all.min.css
assets/css/images/overlay.png
assets/js/breakpoints.min.js
assets/js/browser.min.js
assets/js/jquery.min.js
assets/js/jquery.poptrox.min.js
assets/sass/libs/_breakpoints.scss
assets/sass/libs/_functions.scss
assets/sass/libs/_html-grid.scss
assets/sass/libs/_mixins.scss
assets/sass/libs/_vars.scss
assets/sass/libs/_vendor.scss
assets/sass/main.scss
assets/webfonts/fa-brands-400.eot
assets/webfonts/fa-brands-400.svg
assets/webfonts/fa-brands-400.ttf
assets/webfonts/fa-brands-400.woff
assets/webfonts/fa-brands-400.woff2
assets/webfonts/fa-regular-400.eot
assets/webfonts/fa-regular-400.svg
assets/webfonts/fa-regular-400.ttf
assets/webfonts/fa-regular-400.woff
assets/webfonts/fa-regular-400.woff2
assets/webfonts/fa-solid-900.eot
assets/webfonts/fa-solid-900.svg
assets/webfonts/fa-solid-900.ttf
assets/webfonts/fa-solid-900.woff
assets/webfonts/fa-solid-900.woff2
images/05.jpg
images/2.JPG
images/avatar.jpg
images/avatar123.jpg
images/avatar12345.jpg
images/avatar2.JPG
images/avatar213.jpg
images/avatar52.jpg
images/bg.jpg
images/bg2.jpg
images/bg3.jpg
images/fulls/01.jpg
images/fulls/02.jpg
images/fulls/03.jpg
images/fulls/04.jpg
images/fulls/05.jpg
images/fulls/06.jpg
images/fulls/07.jpg
images/fulls/archives/Bronsveld-Onderhoud-Montage.PNG
images/fulls/archives/Full1.PNG
images/fulls/archives/Medicis-full.PNG
images/fulls/archives/PinkFee.PNG
images/fulls/archives/Python-projects.PNG
images/fulls/archives/SurveyForm.PNG
images/fulls/Base image.jpg
images/HackerRankLogo.png
images/thumbs/01.jpg
images/thumbs/02.jpg
images/thumbs/03.jpg
images/thumbs/04.jpg
images/thumbs/05.jpg
images/thumbs/06.jpg
images/thumbs/07.jpg
images/thumbs/archives/Bronsveld-Onderhoud-Montage-Thumb.PNG
images/thumbs/archives/Medicis-thumb.PNG
images/thumbs/archives/PinkFee-Thumb.PNG
images/thumbs/archives/Python-projects-Thumb.PNG
images/thumbs/archives/Survey-Thumb.PNG
images/thumbs/archives/Sylvie-Cock-Thumb.PNG
images/thumbs/archives/TamtamSamuipic.jpg
images/thumbs/archives/Tribute-page-Thumb.PNG
images/thumbs/base image.jpg
LICENSE.txt
assets/js/util.js
